/-- Syntax Highlighter --
- $highlighter_dir = "#{$vendor_dir}/syntaxhighlighter_3.0.83"
%link{type: "text/css", rel: 'stylesheet', href: "#{$highlighter_dir}/styles/shCore.css"}
%link{type: "text/css", rel: 'stylesheet', href: "#{$highlighter_dir}/styles/shThemeDefault.css"}
%script{type: "text/javascript", src: "#{$highlighter_dir}/scripts/shCore.js"}
%script{type: "text/javascript", src: "#{$highlighter_dir}/scripts/shBrushJScript.js"}
%script{type: "text/javascript", src: "#{$highlighter_dir}/scripts/shBrushXml.js"}
