!!! 5
%html
  %head
    %link{type: 'text/css', rel: 'stylesheet', href: "#{$vendor_dir}/bootstrap/bootstrap.min.css"}
    %link{type: 'text/css', rel: 'stylesheet', href: "#{$css_dir}/jumly.css"}
    %link{type: 'text/css', rel: 'stylesheet', href: "#{$css_dir}/d.css"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/jquery.min.js"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/jquery.client.js"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/coffee-script.js"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/cssua.min.js"}
    %script{type: "text/javascript", src: "#{$js_dir}/application.js"}
  %body
    .container
      #header.row
        %a.logo.span2.columns{href: "/#"} JUMLY
        %dl
          .span3.columns
            %dt Name:
            %dd Sample Diagram
          .span3.columns
            %dt Creation Time:
            %dd 2011/08/23 12:33:44
          .span3.columns
            %dt Last Modified Time:
            %dd 2011/09/22 12:22:33
          .span3.columns
            %dt Creator:
            %dd Tomotaka Sakuma
      #body.row
        .diagram-body.span16.columns
          %script{type: "text/jumly+sequence"}
            @preferences compose_most_left:0
            = params[:a]
      .row
        #footer
          .span16.columns
            <span class="logo">JUMLY</span> by Tomotaka Sakuma copyright(c) 2011, all rights revered.
