!!! 5
%html
  %head
    %title JUMLY
    = haml :"_head.html"
    = haml :"_syntaxhighlighter.html"
    :css
      .syntaxhighlighter { overflow: hidden !important; font-size: 10pt !important; }
      .syntaxhighlighter .toolbar { display: none; }
      section {margin-bottom:4em;}
      #Whats_JUMLY .diagram {width:338px;margin-left:auto;}
      #Getting_Started .diagram {margin:5em auto 0 auto;}
      .center {text-align:center;}
  %body
    -# Root container =========================================================
    .container
      %section#Introduction= haml :"_Introduction.html"
      %section#Overview= haml :"_Overview.html"
      -#%section#Example= haml :"_Example.html"
      %section#License= haml :"_License.html"
      %section#Credit= haml :"_Credit.html"
      %section#Contact
        .page-header
          %h1 Contact
        .row
          .span12
            %p If you ask me, send your message in some ways.
            %address
              %a{href:'https://twitter.com/#!/jumly1'}@jumly1
            %address
              %a{href:'mailto:jumly2gmail.com'}jumly2@gmail.com

    %div#footer
      .inner
        .container
          %div
            %p
              %a{href: "http://tmtk75.wordpress.com/jumly"}JUMLY
          %div
            %p
              all rights reserved &copy;
              %a{href: "http://www.tmtk.net"}Tomotaka Sakuma
              | Be concentrative into your idea
  :coffeescript
    SyntaxHighlighter.config.clipboardSwf = '/vendor/syntaxhighlighter_3.0.83/scripts/clipboard.swf';
    SyntaxHighlighter.config.toolbar = false;
    SyntaxHighlighter.all();
  %script{src:"#{$js_dir}/knockout.js"}
  :coffeescript
    console.log ko
    viewModel =
      more_did_you_have_these_expr: ko.observable false
      more_why_you_use_jumly: ko.observable false
    ko.applyBindings viewModel, $("body")[0]
