!!! 5
%html
  %head
    %title JUMLY
    = haml :"_head.html"
    = haml :"_syntaxhighlighter.html"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %h3
            %a.brand{href:"/#"}JUMLY
          %ul.nav
            %li
              %a{href:"TryJUMLY"} TryJUMLY
            - chaps = [:License]
            = chaps.map {|e| "<li><a href='##{e}'>#{e}</a></li>"}.join "\n"
            %li
              %a{href:"Reference.html"} Reference
          %form.navbar-search.pull-left
            %input.search-query{type:"text",placeholder:"Search"}
  
    -# Masthead ===============================================================
    %header#masthead
      .inner
        .container
          .row
            %div.span4.columns
              %span.logo JUMLY
            %div.span7.columns
              %p.lead Be concentrative into your idea with JUMLY.
              %p Latest version #{File.read "VERSION"}
  
    -# Root container =========================================================
    .container
      %section#Introduction= haml :"_Introduction.html"
      %section#Overview= haml :"_Overview.html"
      %section#Example
        .page-header
          %h1 Example
        %ul.unstyled
          %li <a href="full_sequence.html">Full feature sequence diagram</a>
          %li <a href="full_usecase.html">Full feature usecase diagram</a>
          %li <a href="full_class.html">Full feature class diagram</a>
          %li <a href="demo_sequence.html">Examples for sequence diagram</a>
          %li
            Easy Quick Sharing! <a href="http://bit.ly/xuc8K1">http://bit.ly/xuc8K1</a>
      %section#License= haml :"_License.html"
      %section#Credit= haml :"_Credit.html"
      %section#Contact
        .page-header
          %h1 Contact
        .row
          .span16.columns
            %p If you ask me, send your message in some ways.
            %address
              %a{href:'https://twitter.com/#!/jumly1'}@jumly1
            %address
              %a{href:'mailto:jumly2gmail.com'}jumly2@gmail.com

    %div#footer
      .inner
        .container
          %div
            %p
              %a{href: "http://tmtk75.wordpress.com/jumly"}JUMLY
          %div
            %p
              all rights reserved &copy;
              %a{href: "http://www.tmtk.net"}Tomotaka Sakuma
              | Be concentrative into your idea
  :javascript
    SyntaxHighlighter.config.clipboardSwf = '/vendor/syntaxhighlighter_3.0.83/scripts/clipboard.swf';
    SyntaxHighlighter.config.toolbar = false;
    SyntaxHighlighter.all();
  :css
    .syntaxhighlighter { overflow: hidden !important; font-size: 10pt !important; }
    .syntaxhighlighter .toolbar { display: none; }
