!!! 5
%html
  %head
    %link{type: 'text/css', rel: 'stylesheet', href: "#{$vendor_dir}/bootstrap/bootstrap-1.2.0.min.css"}
    %link{type: 'text/css', rel: 'stylesheet', href: "#{$css_dir}/jumly-min.css"}
    %link{type: 'text/css', rel: 'stylesheet', href: "#{$css_dir}/d.css"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/jquery-1.6.2.min.js"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/jquery.client.js"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/coffee-script.min-1.1.1.js"}
    %script{type: "text/javascript", src: "#{$vendor_dir}/cssua.min.js"}
    %script{type: "text/javascript", src: "#{$js_dir}/jumly-min.js"}
  %body
    .container
      #header.row
        %a.logo.span2.columns{href: "/#"} JUMLY
        %dl
          .span5.columns
            %dt Name:
            %dd
              = diagram["name"]
          .span3.columns
            %dt Creation Time:
            %dd
              = diagram["created_at"]
          .span3.columns
            %dt Last Modified Time:
            %dd
              = diagram["updated_at"]
          .span3.columns
            %dt Creator:
            %dd
              = diagram["creator"]
      #body.row
        .diagram-body.span16.columns
          %script{type: "text/jumly+sequence"}
            @preferences compose_most_left:0
            = diagram["body"]
      .row
        #footer
          .span16.columns
            <span class="logo">JUMLY</span> by Tomotaka Sakuma copyright(c) 2011, all rights revered.
