extends column2

block styles
 link(rel='stylesheet', href="reference.css")

block left-header
  h1.logo
    a(href="/") JUMLY

block right-header

block left-content
  .menu
    ul
      li Directives
        ul
          li
            a(href="#_found") @found
          li
            a(href="#_message") @message
          li
            a(href="#_create") @create
          li
            a(href="#_reply") @reply
          li
            a(href="#_alt") @alt
          li
            a(href="#_loop") @loop
          li
            a(href="#_ref") @ref
          li
            a(href="#_note") @note

block right-content
  h2#directives Directives

  #_found
    - event = "event:{mouseover:focused,mouseout:unfocused}"
    - f = function(name) {return "css:{hilighted:" + name + "()}," + event}
    h3 @found
    p  is the top level element to start interactions.
      | It puts an
      strong("data-key"='object',"data-bind"="#{f('object')}")
        &nbsp;new object&nbsp;
      | with a lifeline
      | and a
      strong("data-key"='occurrence',"data-bind"="#{f('occurrence')}")
        &nbsp;new occurrence&nbsp;
      | which are dashed line and gray-border rectangle.
    :code(type=javascript)
      @found "He"
    :jumly
      @found "He"
      he.attr "data-key":"object","data-bind":"#{f('object') }"
      @find(".occurrence").attr "data-key":"occurrence","data-bind":"#{f('occurrence')}"
      $("body").on "ran.jumly", ->
        foundModel =
          object: ko.observable false
          occurrence: ko.observable false
        $.extend foundModel, document.jumly.hilightedModel
        ko.applyBindings foundModel, _found
    
  h3#_message @message
  h3#_create @create
  h3#_reply @reply
  h3#_alt @alt
  h3#_loop @loop
  h3#_ref @ref
  h3#_note @note

  :coffeescript
    document.jumly = {}
    document.jumly.hilightedModel =
      focused: (vm, e)-> vm[$(e.currentTarget).data "key"] true
      unfocused: (vm, e)-> vm[$(e.currentTarget).data "key"] false
