!!! 5
%html
  %head
    %title JUMLY Demo Sequence
    = haml :"_head.html"
    -#%link{type: 'text/css', rel: 'stylesheet', href: "#{$css_dir}/sb.css"}
    %script{type: 'text/javascript', src: "#{$vendor_dir}/jquery.typing-0.2.0.min.js"}
    %style#custom-style
  %body
    = haml :_topbar

    /================================================================================================
    .container
      %section#demo-sequence-diagram.row
        .page-header.span16.column
          %h1 Demo <small>You can edit a sequence diagram in realtime with the DSL and the css.<small>
       
        .span16.columns
          %h2 Sequence diagram
          #alert-message-placeholder

        #DSL-for-sequence.span7.columns
          %form
            - cols = 44
            %span.help-block Sequence diagram DSL
            %textarea#dsl{rows: "10", cols: "#{cols}"}
              :preserve
                @found "You", ->
                  @message "use", "JUMLY", ->
                    @create "Diagram"
                  @message "get", "Diagram", ->
                    @reply "", "You"
            %span.help-block Sequence diagram CSS
            %textarea#css{rows: "14", cols: "#{cols}"}
              :preserve
                .diagram .object .name {
                  font-weight: bold;
                  font-size: 100%;
                  color: #0084d1;
                  border-radius: 3px;
                }
                .interaction.reply .message:not(.return) {
                  display: none;
                }
                .message.create ~ .occurrence {
                  opacity: 0.5;
                }
        #preview-for-sequence{class: "span9 columns"}
          #buttons
            %input{type: 'submit', class: "btn small", value: '@found'}
            %input{type: 'submit', class: "btn small", value: '@message'}
            %input{type: 'submit', class: "btn small", value: '@create'}
            %input{type: 'submit', class: "btn small", value: '@destroy', disabled: ''}
            %input{type: 'submit', class: "btn small", value: '@reply'}
            %input{type: 'submit', class: "btn small", value: '@ref'}
            %input{type: 'submit', class: "btn small", value: '@lost', disabled: ''}
            %input{type: 'submit', class: "btn small", value: '@loop'}
            %input{type: 'submit', class: "btn small", value: '@alt'}
            %input{type: 'submit', class: "btn small", value: '@reactivate'}
          %span{class: "help-block"} Preview
          #preview-for-sequence-placeholder
  %script{src: "#{$js_dir}/sb.js"}
