!!! 5
%html
  %head
    - slippy_dir = "/assets/slippy"
    %link{type:"text/css", rel:"stylesheet", href:"#{slippy_dir}/slippy.css"}
    %link{type:"text/css", rel:"stylesheet", href:"#{slippy_dir}/slippy-pure.css"}
    %link{type:"text/css", rel:"stylesheet", href:"#{slippy_dir}/highlighter/shCore.css"}
    %link{type:"text/css", rel:"stylesheet", href:"#{slippy_dir}/highlighter/shThemeEclipse.css"}
    %link{type: 'text/css', rel: 'stylesheet', href: "#{$vendor_dir}/bootstrap/bootstrap.min.css"}
    %script{type:"text/javascript", src:"#{slippy_dir}/jquery.min.js"}
    %script{type:"text/javascript", src:"#{slippy_dir}/jquery.history.js"}
    %script{type:"text/javascript", src:"#{slippy_dir}/slippy.js"}
    %script{type:"text/javascript", src:"#{slippy_dir}/highlighter/shCore.js"}
    %script{type:"text/javascript", src:"#{slippy_dir}/highlighter/shBrushJScript.js"}
    :css
      a.eval {
        background-image: -webkit-gradient(linear, left top, right top, from(#004D9F), to(#049cd9));
        padding: 4px 1em 4px 1em;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        text-shadow: 2px 0 gray;
        margin: .2em .4em 0 0;
      }      
  %body
    .slide
      %h1 My 1st slide using Slippy!
      %ul.vcenter
        %li CDEFGAB
        %li 01234

    .slide
      %h1 H1
      %h2 H2
      %h3 H3
      %h4 H4
      %table.incremental
        %tr
          %td a
          %td b
          %td c
        %tr
          %td 1
          %td 2
          %td 3
      %ul.incremental
        %li A
        %li B
        %li C
      %pre{class:"brush:js eval"}
        alert("hello");

    .layout{"data-name"=>"default"}
      %content
      .footer
        .left Tomotaka Sakuma
        .right JUMLY on <a href="http://github.com/tmtk75/jumly-core/">github</a>
        .left Blog <a href="http://tmtk75.github.com">tmtk75.github.com</a>
        .right Twitter <a href="http://twitter.com/jumly1">@jumly1</a>
        %hr.defloat

  :javascript
    $(function() {
      $(".slide").slippy({});
      SyntaxHighlighter.all();
    });
