!!! 5
%html
  %head
    %title Try JUMLY
    %link{rel:"stylesheet",href:"#{$css_dir}/TryJUMLY.css"}
    %link{rel:"stylesheet",href:"#{$css_dir}/3rd-party.css"}
    = haml :"_head.html"
    = haml :"_bootstrap.html"
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %h3 <a href="/#">JUMLY</a>
          - def _sr(n, t) "<a id='sample-#{n}' data-bind='click:sampleRequired'>#{t}</a>" end
          - def _tr(n0, n1, t) "<a id='tutorial-#{n0}-#{n1}' data-step='#{n0}' data-sub='#{n1}' data-bind='click:tutorialRequired'>#{t}</a>" end
          %ul.nav
            %li #{_sr 1, i18n._('Example-1')}
            %li #{_sr 2, i18n._('Example-2')}
            %li #{_sr 3, i18n._('Example-3')}
            %li.dropdown{"data-dropdown"=>"dropdown"}
              %a.dropdown-toggle #{i18n._ 'Other examples'}
              %ul.dropdown-menu
                %li #{_sr 4, i18n._('Shorten w/ bit.ly')}
                %li #{_sr 5, i18n._("Using <img>")}
                - [1,2,3,4].each do |e|
                  %li #{_tr "data1", e-1, "#{i18n._('Tutorial step')}1-#{e}"}
                - [1,2,3,4].each do |e|
                  %li #{_tr "data2", e-1, "#{i18n._('Tutorial step')}2-#{e}"}
                %li #{_tr "data3", 0, "#{i18n._('Tutorial step')}3-1"}
                %li.divider
                %li
                  %a{href:"/full_sequence.html"} Full feature<br>sequence diagram
            %li <a href="/Reference.html">#{i18n._ 'Reference'}</a>
            %li <a href="#" data-bind="click:askTutorial">#{i18n._ 'Tutorial'}</a>
            %li.dropdown{"data-dropdown"=>"dropdown"}
              %a.dropdown-toggle #{i18n._ 'Languages'}
              %ul.dropdown-menu
                %li <a href="TryJUMLY.en">#{i18n._ 'lang.english'}</a>
                %li <a href="TryJUMLY.ja">#{i18n._ 'lang.japanese'}</a>
            %li <a href="#" data-controls-modal="tryjumly-help" data-backdrop="static" data-keyboard="true">#{i18n._ 'Help'}</a>
            %li <a href="#" data-controls-modal="tryjumly-feedback" data-backdrop="static" data-keyboard="true">#{i18n._ 'Feedback'}</a>
    .container-fluid
      .page-header
        %h1 Try JUMLY <small>#{i18n._ 'Sandbox for sequence Diagram'}</small>
        #3rd-party-buttons{style:"position:fixed;right:100px;top:44px;"}
          %img{height:"20px",style:"margin-bottom:-4px",src:"/assets/ic_chats.png","data-bind"=>"click:openDisqus"}
          <div class="fb-like" data-send="true" data-layout="button_count" data-width="0" data-show-faces="false"></div>
          <a style='margin-left:-38px;' href="#" onclick="Evernote.doClip({contentId:'diagram-container',providerName:'Try JUMLY'}); return false;"><img src="http://static.evernote.com/article-clipper.png" alt="Clip to Evernote"/></a>
          <div class="g-plusone" data-size="medium" data-href="http://jumly.heroku.com/TryJUMLY"></div>
          <a style='margin-left:-20px;' href="https://twitter.com/share" class="twitter-share-button" data-via="jumly1" data-related="jumly1" data-hashtags="jumly">Tweet</a>
        #jumly-buttons
          %a#link-to-share.btn.primary{"data-controls-modal"=>"url-to-show","data-bind"=>"click:tutorial.share"}
            #{i18n._ 'Link To Share'}
      .row
        .span1.columns{style:"width:26px;"}
          %img{src:"/assets/ic_refresh.png",width:"24px"}
          %img{src:"/assets/ic_settings.png",width:"24px"}
        .span7.columns{style:"margin-left:0px;"}
          %textarea#jumlipt{"data-bind"=>"value:targetJumlipt,valueUpdate:'afterkeydown'",rows:26,placeholder:"#{i18n._ 'Write JUMLIPT here, or click one of examples.'}"}
        .span8.columns
          #diagram-container{"data-bind"=>"jumly:diagram,success:jumly.success,error:jumly.error"}
          = haml :"_TryJUMLYTutorial", :locals=>{i18n:i18n}
    .bottombar
      = $copyright_html
      JUMLY v#{File.read "VERSION"}
    
    .lightbox-background.hide{"data-bind"=>"css:suppressWithBrowser"}
      .fixed.messagebox
        .inner
          %h2 #{i18n._ 'Caution.'}
          %p #{i18n._ 'caution.browser.d'}

    .alert-message.block-message.error.notice.hide{"data-bind"=>'template:{name:"alert-error",data:errorReason}'}
    %script#alert-error{type:"text/html"}
      %h3 Error
      %p
        %strong type: ${type}
        ${message}
      %p
        %strong message:
        %span.message ${cause}

    .alert-message.block-message.success.notice.hide
      %h3 Success
      %p Rendering was succeeded.

    #auto-save-message.alert-message.info.hide{style:"position:fixed;left:2px;top:42px;"}
      %p #{i18n._ 'notify.save.d'}

    #url-to-show.modal.hide{"data-bind"=>"template:{name:'show-URL',data:urlToShare}"}
    %script#show-URL{type:"text/html"}
      .modal-header
        %h2 #{i18n._ 'show-url.h'}
      .modal-body
        %h3 #{i18n._ 'show-url.short.h'}
        .short <a href='${short}' target='shortURL'>${short}</a>
        %h3 #{i18n._ 'show-url.raw.h'}
        .long <a href='${long}' target='rawURL'>${long}</a>
      .modal-footer
        %a.btn.cancel #{i18n._ 'show-url.btn.close.d'}

    #tryjumly-help.modal.hide
      .modal-body
        %img{src:"/assets/TryJUMLY-overview.png",width:"100%"}
      .modal-body.description
        = i18n._ 'help.d'
      .modal-footer
        %a.btn.cancel #{i18n._ "help.btn.close.d"}

    #tryjumly-feedback.modal.hide
      .modal-header
        %h3 #{i18n._ 'feedback.h'}
        = i18n._ 'feedback.d'
      .modal-body
        %dl
          %dt Twitter
          %dd
            %a{href:"http://twitter.com/#!/jumly1",target:"twitter"}@jumly1
          %dt Gmail
          %dd
            %a{href:"mailto:jumly2gmail.com",target:"gmail"}jumly2@gmail.com
          %dt github issue
          %dd
            %a{href:"https://github.com/tmtk75/jumly-core/issues",target:"github.com"}github.com/tmtk75/jumly-core
      .modal-footer
        %a.btn.cancel Cancel
        
    / Facebook Like button
    #fb-root
    
    / DISQUS Thread
    #disqus_thread{"data-bind"=>"visible:disqusOpened()"}
      /<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      /<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    
    :javascript
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'jumly'; // required: replace example with your forum shortname
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();

  %script{src:"#{$js_dir}/btn.js"}
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script src='http://www.go2web20.net/twitterfollowbadge/1.0/badge.js' type='text/javascript'></script><script type='text/javascript' charset='utf-8'>tfb.account='jumly1';tfb.label='follow-me';tfb.color='#404040';tfb.side ='r';tfb.top=136;tfb.showbadge();</script>
  %script{src:"http://static.evernote.com/noteit.js"}
  %script{src:"#{$js_dir}/base64.js"}
  %script{src:"#{$js_dir}/bitly.js"}
  %script{src:"#{$js_dir}/TryJUMLY.Tutorial.js"}
  %script{src:"#{$js_dir}/TryJUMLY.utils.js"}
  %script{src:"#{$js_dir}/TryJUMLY.Tutorial.sample.js"}
  :coffeescript
    JUMLY.TryJUMLY.lang = "#{i18n.ext}"
  %script{src:"#{$js_dir}/TryJUMLY.js"}

/
  Change History

  2012-01-25
  Initial Release for TryJUMLY.
  * A simple sandbox for JUMLIPT.
  * Compilation and rendering in realtime.
  * Link to share, and show that to be shortened by bit.ly.
  * 3-step tutorial.
  * Social buttons for Facebook, evernote, Google+, Twitter.
  * Twitter's budge to follow me.
  * Some examples of JUMLIPT.
  * Two languages, English and Japanese.