!!! 5
html
  head
    - bootstrap_dir = "bootstrap/docs/assets/"
    meta(charset='utf-8')
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    link(type='text/css',rel='stylesheet',href="#{bootstrap_dir}/css/bootstrap.css")
    link(rel="stylesheet",href="docs.css")
    link(rel="stylesheet",href="tryjumly.css")
    link(rel="stylesheet",href="3rd-party.css")
    script(src="javascripts/jquery.js")
    script(src="javascripts/coffee-script.js")
    script(src="javascripts/knockout.js")
    script(src="#{bootstrap_dir}js/bootstrap-alert.js")
    script(src="#{bootstrap_dir}js/bootstrap-tooltip.js")
    script(src="#{bootstrap_dir}js/bootstrap-modal.js")
    script(src="#{bootstrap_dir}js/bootstrap-dropdown.js")
    != js('jumly')
    title!=title
  body
    - i18n = {}
    - i18n._ = function() {return arguments[0];}
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          h3 <a class="brand" href="/#">JUMLY</a>
    .container-fluid
      .page-header(style="margin-top:40px")
        h2 Try JUMLY
          small= i18n._('Sandbox for sequence diagram')
      .row
        .span1#user-actions
          a.btn#btnToShowUrl("data-toggle"="modal",href="#url-to-show")
            i.icon-share
            <br>
            =i18n._('Share')
          a.btn("data-toggle"="modal",href="#jumly-snippet")
            i.icon-tag
            <br>
            =i18n._('Snippet')
          a.btn("data-bind"="click:want.toCommentOnDisqus")
            i.icon-comment
            <br>
            =i18n._('Comment')

