!!! 5
%html
  %head
    %title Try JUMLY
    = haml :"_head.html"
    = haml :"_bootstrap.html"
    %style
      textarea {width:100%; font-family:Monaco,'Courier New';font-size:9pt;}
  %body
    .topbar
      .topbar-inner
        .container-fluid
          %h3 <a href="/#">JUMLY</a>
          %ul <li><a id="sample-1">Sample-1</a></li>
          %ul <li><a id="sample-2">Sample-2</a></li>
          %ul <li><a href="/Reference.html">Reference</a></li>
    .container-fluid
      .page-header
        %h1 Try JUMLY <small>Sequence Diagram</small>
      .row
        .span6.columns
          %textarea{rows:20,placeholder:"Put directives"}
          %a.btn{"data-controls-modal"=>"link-to-show"} Show Link
        #diagram-container.span10.columns
        
      .row
        .span16.columns
          %hr
          %h2 Directives
      .row
        .span4.columns
          %h3 @found
          %pre
            @found {object}
        .span4.columns
          %h3 @message
          %pre
            @message {name}, [{object}]
        .span4.columns
          %h3 @create
          %pre
            @create {object}
        .span4.columns
          %h3 @reply
          %pre
            @reply {name}, {object}
        .span4.columns
          %h3 @loop
          %pre
            :preserve
              @loop {directive}
              @loop -> {directives}
        .span4.columns
          %h3 @ref
          %pre
            @ref {name}
        .span4.columns
          %h3 @alt
          %pre
            :preserve
              @alt
                {cond-1}: -> {directives}
                {cond-2}: -> {directives}
        .span4.columns
          %h3 iconify
          %pre
            {object}.iconify {"actor"|"view"|"controller"|"entity}

    .alert-message.block-message.error.hide
      %span.title Error <br/>
      %strong type:
      %span.type
      %strong.constructor <br/>
      %strong message:
      %span.message <br/>
      %strong arguments:
      %span.arguments

    .alert-message.block-message.success.hide
      Rendering was succeeded, and stored into localStorage.
    
    #link-to-show.modal.hide
      %h2 Link
      %pre.content

  %script{src:"#{$js_dir}/base64.js"}
  %script{src:"#{$js_dir}/TryJUMLY.js"}

  :coffeescript
    jQuery.fn.fadeAlert = (delay = 6000)->
      @click(-> $(this).fadeOut())
      @fadeIn -> setTimeout (=> $(this).fadeOut()), delay

    alertmsg = (ex)->
      $(".alert-message").hide().filter(".error")
        .find(".type")       .html("\#{ex.type || ''}").end()
        .find(".constructor").html("\#{ex.constructor.name}").end()
        .find(".message")    .html("\#{ex.message}").end()
        .find(".arguments")  .html((ex.arguments || []).join ",").end()
        .alert().fadeAlert()

    storage = window.localStorage
    storeKey = "TryJUMLY.sequence"
    textarea = $ "textarea"
    
    updatediagram = ->
      try
        script = textarea.val()
        $("#diagram-container").jumlize 'sequence', script
        storage.setItem storeKey, script
        $(".alert-message").hide().filter(".success").fadeAlert(2500)
      catch ex
        alertmsg ex

    $ ->
      textarea.val(storage.getItem storeKey).focus().typing
        start: (e, n)->
        stop: (e, n)-> updatediagram e, n
        delay: 400
      updatediagram()

    $ ->
      $("#sample-1,#sample-2,#sample-3").click ->
        textarea.val JUMLY.TryJUMLY.samples[$(this).attr "id"]
        updatediagram()
        false

      $("#link-to-show").modal(backdrop:"static",keyboard:true).bind "show", ->
        #d = encodeURIComponent textarea.val()
        d = Base64.encode textarea.val()
        link = "/Share?b=\#{d}"
        $(this).find(".content").html "<a href='\#{link}'>\#{link}</a>"

  :javascript
    window.callback = function(bitlyres) {
      var json = eval(bitlyres);
      console.log(json);
      alert(json.statusCode);
    }
  %script{type:"text/javascript",src:"http://api.bit.ly/shorten?version=2.0.1&login=tmtk75&apiKey=R_39bc09b13aac4481bc526f946f7d1538&longUrl=http://www.yahoo.co.jp/&callback=window.callback"}
